# =============== #
# Unity generated #
# =============== #
IP2Group11/Temp/
IP2Group11/Obj/
IP2Group11/UnityGenerated/
IP2Group11/Library/
IP2Group11/Assets/AssetStoreTools*

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db