# =============== #
# Unity generated #
# =============== #
IP2Group11/[Tt]emp/
IP2Group11/[Oo]bj/
IP2Group11/[Uu]nityGenerated/
IP2Group11/[Ll]ibrary/
IP2Group11/[Aa]ssets/AssetStoreTools*

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
IP2Group11/Library/ScriptAssemblies/Assembly-CSharp.dll.mdb

IP2Group11/Library/guidmapper
*.dll
IP2Group11/Library/expandedItems
*.dll